USE [master]
GO
/****** Object:  Database [DreamJournal]    Script Date: 3/21/2021 5:18:19 PM ******/
CREATE DATABASE [DreamJournal]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DreamJournal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DreamJournal]
GO
USE [DreamJournal]
GO
/****** Object:  Table [dbo].[Alarm]    Script Date: 3/21/2021 5:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarm](
	[AlarmId] [int] IDENTITY(1,1) NOT NULL,
	[Time] [time](0) NOT NULL,
	[SoundFile] [nvarchar](50) NOT NULL,
	[UserNum] [int] NOT NULL,
 CONSTRAINT [IX_Alarm] UNIQUE NONCLUSTERED 
(
	[AlarmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlarmDays]    Script Date: 3/21/2021 5:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlarmDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlarmId] [int] NOT NULL,
	[Day] [int] NOT NULL,
 CONSTRAINT [PK_AlarmDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaysOfWeek]    Script Date: 3/21/2021 5:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaysOfWeek](
	[DayId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [IX_DaysOfWeek] UNIQUE NONCLUSTERED 
(
	[DayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/21/2021 5:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserNum] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[JoinedDate] [date] NOT NULL,
	[UserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[UserNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alarm]  WITH CHECK ADD  CONSTRAINT [FK_Alarm_User] FOREIGN KEY([UserNum])
REFERENCES [dbo].[User] ([UserNum])
GO
ALTER TABLE [dbo].[Alarm] CHECK CONSTRAINT [FK_Alarm_User]
GO
ALTER TABLE [dbo].[AlarmDays]  WITH CHECK ADD  CONSTRAINT [FK_AlarmDays_Alarm] FOREIGN KEY([AlarmId])
REFERENCES [dbo].[Alarm] ([AlarmId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlarmDays] CHECK CONSTRAINT [FK_AlarmDays_Alarm]
GO
ALTER TABLE [dbo].[AlarmDays]  WITH CHECK ADD  CONSTRAINT [FK_AlarmDays_DaysOfWeek] FOREIGN KEY([Day])
REFERENCES [dbo].[DaysOfWeek] ([DayId])
GO
ALTER TABLE [dbo].[AlarmDays] CHECK CONSTRAINT [FK_AlarmDays_DaysOfWeek]
GO
USE [master]
GO

/**************
START SEED DATA 
**************/
USE DreamJournal

INSERT INTO DaysOfWeek (Name) VALUES ('Sunday'), ('Monday'), ('Tuesday'), ('Wednesday'), ('Thursday'), ('Friday'), ('Saturday');

/*** Manufactuer a GUID for demo purposes with a fake user ***/
INSERT INTO [User] (FirstName, LastName, JoinedDate, UserGuid) VALUES ('Jon', 'Snow', GETDATE(), '64C64D4B-BBE5-4411-AC1F-97217E79B204');

INSERT INTO Alarm (Time, SoundFile, UserNum) VALUES ('07:30AM', 'windchimes', 1);

INSERT INTO AlarmDays (AlarmId, Day) VALUES ('1', '2'), ('1', '3'), ('1', '4'), ('1', '5'), ('1', '6');
/**************
END SEED DATA 
**************/
